.listagem .titulo-categoria:first-child {
    margin-top: 20px;

}
.listagem .titulo-categoria {
    display: block;
    font-size: 25px;
    margin: 40px 0 40px 0;
    padding: 10px 0;
    text-align: center;
    transition: none;
    border: none;
    font-weight: normal;
}
.listagem .titulo-categoria strong {
    font-weight: 200;
    text-transform: uppercase;
    background: white;
    padding: 0 30px;
    color: black;
    letter-spacing: 4px;
    font-family: montserrat;
}

.borda-principal {
    border-width: 2px 0 0;
    border-style: solid;
}

.listagem .titulo-categoria::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 1px;
    margin: auto;
    background: #e6e0df;
    z-index: -1;
}

.listagem .titulo-categoria:after, #listagemProdutos.listagem>.titulo:after {
    content: "";
    background: #e6e0df;
    width: 96%;
    height: 1px;
    display: block;
    margin: -15px auto;
}